.play-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.play-area-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
